html {
  font-size: 12px;
  scroll-behavior: smooth;
}

html.dark {
  background-color: #0A0A0A;
}

@media (min-width: 1536px) {
  html {
    font-size: 12px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-codary-darker text-codary-black dark:text-white font-sans antialiased;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
